page-bikedetail {

    ion-card{
        margin:100px;
    }
    
    ion-card.card{
        background: rgba(232, 230, 230, 0.6px);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

}
